<a href="https://colab.research.google.com/github/rwiederblank/Ruchama_Wiederblank_MCON232_module1/blob/main/MCON232_FQ_Module1_Class2_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## YOUR NAME :Ruchama Wiederblank

In [2]:
def write_file():
  with open("numbers.txt", "w") as f :
    f.write("1,2,3\n4,5,6\n7,8,9\n")

In [1]:
my_list = [5, 6, 7, 8, 9]
print(my_list[0:3])
print(my_list[:])
print(my_list[2:-2])
print(my_list[::-1])

[5, 6, 7]
[5, 6, 7, 8, 9]
[7]
[9, 8, 7, 6, 5]

In [6]:
x = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(x[2][0])
print(x[2][2])
print(x[0][2])

7
9
3

In [9]:
nested_list = []
data = 200
for col in range(3):
  row = []
  for r in range(3):
    row.append(data)
    data += 20
  nested_list.append(row)
print(nested_list)

[[200, 220, 240], [260, 280, 300], [320, 340, 360]]

In [10]:
my_list = [5,6,7,8,9]
my_even_list = [i for i in my_list if i % 2 == 0]
print(my_even_list)

[6, 8]

In [11]:
rows, cols = 3, 4
my_nested_list2 = [[ i*j for j in range(cols)] for i in range(rows)]
print(my_nested_list2)

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [13]:
for row in nested_list:
  print(row)

[200, 220, 240]
[260, 280, 300]
[320, 340, 360]

In [14]:
my_tuple = (4,5,6)
print(my_tuple)

for value in my_tuple:
  print(value)

for index in range(len(my_tuple)):
  print(my_tuple[index])

(4, 5, 6)
4
5
6
4
5
6

In [16]:
my_new_tup = ('Alice', 19, 'CS')
name, age, major = my_new_tup
print(f"{name=} {age=} {major=}")

name='Alice' age=19 major='CS'

In [19]:
t = (1,2,3,4)
tt = "a", "b", "c"

print(tt)

tt3 = (3,)
print(tt3)

my_tuple = tuple([1,2,3,4,5,6,7,8,9])
print(my_tuple)

for item in my_tuple:
  print(item)

('a', 'b', 'c')
(3,)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
1
2
3
4
5
6
7
8
9

In [20]:
my_tuple = tuple("abcdefghijklmnopqrstuvwxyz")
print(my_tuple)
print(my_tuple[:])
print(my_tuple[:-5])
print(my_tuple[::-1])

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z')
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z')
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u')
('z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [25]:
print("Min", min(my_tuple))
print("Max", max(my_tuple))
print("len", len(my_tuple))

print(my_tuple.count("e"))

Min a
Max z
len 26
1

In [30]:
t = (1, 2, [3, 4, 5])
print(type(t))
t[2].append(5)
print(t)
 # t[0] = 5

<class 'tuple'>
(1, 2, [3, 4, 5, 5])

In [37]:
sorted([(2, "b"), (1, "A"), (2, "A")])

a = (1,2)
b = (1,2)

print(f"TRUE, {a==b}")
print(f"FALSE, {a is b}")

tt = (1,2,['a','b'])
uu = tt
print(f"{uu is tt}")
tt[2].append('c')
print(uu)

TRUE, True
FALSE, False
True
(1, 2, ['a', 'b', 'c'])

In [38]:
import copy
uu = copy.deepcopy(tt)
print(f"{uu is tt}")

False

In [48]:
my_tuple = tuple("abcdefghijklmnopqrstuvwxyz")
my_second_tuple = tuple(value for value in my_tuple)
print(my_second_tuple)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z')

In [49]:
print(my_tuple)
for value in my_tuple:
  print(value, end = " ")

print()

for i in range(len(my_tuple)):
  print(my_tuple[i], end= " ")

print()
for index, value in enumerate(my_tuple):
  print(f"Index: {index}, Value: {value}")

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z')
a b c d e f g h i j k l m n o p q r s t u v w x y z
a b c d e f g h i j k l m n o p q r s t u v w x y z
Index: 0, Value: a
Index: 1, Value: b
Index: 2, Value: c
Index: 3, Value: d
Index: 4, Value: e
Index: 5, Value: f
Index: 6, Value: g
Index: 7, Value: h
Index: 8, Value: i
Index: 9, Value: j
Index: 10, Value: k
Index: 11, Value: l
Index: 12, Value: m
Index: 13, Value: n
Index: 14, Value: o
Index: 15, Value: p
Index: 16, Value: q
Index: 17, Value: r
Index: 18, Value: s
Index: 19, Value: t
Index: 20, Value: u
Index: 21, Value: v
Index: 22, Value: w
Index: 23, Value: x
Index: 24, Value: y
Index: 25, Value: z

In [51]:
import random
print (random. random()) # exclusive we approach 1 but never get to 1
print(random. randint(5,8)) # inclusive on both ends
print(random. randrange(10, 20, step=2)) # will skip acc to step

my_tuple = tuple("abcdefghijklmn")
print(random.choice(my_tuple))

my_list = list("zvwtsm")
print("before ", my_list)
random. shuffle(my_list)
print("after shuffle", my_list)
print(random.uniform(3.5, 6.1))
print(random.sample(range(10, 200), 5))

0.0930243608451452
6
14
d
before  ['z', 'v', 'w', 't', 's', 'm']
after shuffle ['z', 'v', 's', 't', 'm', 'w']
3.923699397633232
[88, 125, 143, 171, 133]